.board-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
  --card-radius: 8px;

  .bridge-member {
	aspect-ratio: 1 / 1;
	width: 100%;
	border-radius: 6px;
	object-fit: cover;
  }
}
