#main {
	--link-color: #049ccf;
	--link-decoration: underline;

	/* Copy .card rules */
	border: var(--card-border, 1px solid #ccc);
	border-radius: var(--card-radius, 2px);
	background: var(--card-bg, var(--primary-color, white));
	padding: var(--card-padding, 0.7em);
}

.ctas.flex {
	gap: 0.7rem;
}

.home-ctas .cta, .home-ctas .cta:visited, .home-ctas .cta:visited:hover:not([rel="bookmark"]) {
	color: var(--default-color);
	text-decoration: none;
}

.cta-label {
	display: block;
	text-decoration: none;
}

.grid.card-list {
	grid-template: repeat(auto-fit, 200px) / repeat(auto-fit, 200px);
	gap: 8px;

	& a {
		color: inherit;
		text-decoration: none;
	}

	@media (max-width: 416px) {
		& {
			grid-template: repeat(auto-fit, 100%) / repeat(auto-fit, 100%);
		}
	}
}

article p:first-letter {
	margin-left: 2em;
}

.meta-author-links.flex {
	gap: 12px;
}
