@layer utilities {
	@page {
		margin: 1.2em;
		size: portrait;
	}

	body > :not(#main) {
		display: none;
	}

	#main {
		position: absolute;
		inset: 0 0 0 0;
		width: 100%;
		padding: 1.2em;
	}

	.no-print {
		display: none;
	}
}
