@layer base {
	@media (prefers-reduced-motion: no-preference) {
		:root {
			view-transition-name: router-view;
		}

		::view-transition-old(router-view) {
			z-index: 0;
		}

		::view-transition-group(router-view) {
			animation: none;
			mix-blend-mode: normal;
		}

		::view-transition-new(router-view) {
			animation: reveal-circle 600ms ease forwards;
			z-index: 1;
		}

		@keyframes reveal-circle {
			from {
				opacity: 0;
				clip-path: circle(0% at 50% 50%);
			}
			to {
				opacity: 1;
				clip-path: circle(150% at 50% 50%);
			}
		}
	}
}
