---
layout: default
title: Home
pinned: true
description: A GitHub repository for easily creating fast, modern, PWA compatible websites
---
<div class="flex row wrap space-evenly logo-sample">
	<div class="card color-default" data-theme="light">
		{% include "11ty-common/icon.html" icon: "krv-bridge" height: 48 width: 48 fill: "currentColor" class: "logo" %}
	</div>
	<div class="card color-default" data-theme="dark">
		{% include "11ty-common/icon.html" icon: "krv-bridge" height: 48 width: 48 fill: "currentColor" class: "logo" %}
	</div>
	{% for color in palette %}
		<div class="card" data-theme="light">
			{% include "11ty-common/icon.html" icon: "krv-bridge" height: 48 width: 48 fill: color class: "logo" %}
		</div>
		<div class="card" data-theme="dark">
			{% include "11ty-common/icon.html" icon: "krv-bridge" height: 48 width: 48 fill: color class: "logo" %}
		</div>
	{% endfor %}
</div>
{% include "forms/org-profile.html" %}
