---
layout: default
title: Home
pinned: true
description: A GitHub repository for easily creating fast, modern, PWA compatible websites
---
{% include "wip-disclaimer.html" %}
<section>
	<p>Although the app is currently in development, we are already allowing registration and creating of organizations to be listed. You may create an account <a href="/account/sign-up/">here</a> and create an organization <a href="/organization/create/">here</a>.</p>
</section>
<section>
	<h2>I want to...</h2>
	<div class="flex row wrap space-evenly home-ctas">
		<a href="/resources/" class="card cta block color-default">
			<span class="cta-label">Find Resources</span>
			{% include "11ty-common/icon.html" icon: "list-unordered" height: 96 width: 96 fill: "currentColor" class: "cta-icon" %}
		</a>
		<a href="/about/" class="card cta block color-default">
			<span class="cta-label">Learn More</span>
			{% include "11ty-common/icon.html" icon: "info" height: 96 width: 96 fill: "currentColor" class: "cta-icon" %}
		</a>
		<a href="/donate/" class="card cta block color-default">
			<span class="cta-label">Donate</span>
			{% include "11ty-common/icon.html" icon: "donate" height: 96 width: 96 fill: "currentColor" class: "cta-icon" %}
		</a>
	</div>
</section>
