<div class="status-box info">
	<p>The information provided on this web app for KRV Bridge Connection is solely for demonstrative purposes and does not represent actual or accurate data. All content, including the aid programs, resources, and contact details, is placeholder and not reflective of real services or organizations.</p>

	<p>Please be aware that the features and functionalities of this web app are also simulated for display purposes only. Some elements may not be fully implemented or may not work as expected.</p>

	<p>This web app is a work in progress and is intended to showcase the concept and design of the final product.</p>
</div>
