---
layout: default
title: Account
---
<div class="flex row wrap space-evenly user-nav">
	<a href="/account/sign-in/" class="btn btn-primary btn-big">
		{% include "11ty-common/icon.html" icon: "sign-in" height: 18 width: 18 fill: "currentColor" %}
		<span>Sign-In</span>
	</a>
	<a href="/account/sign-up/" class="btn btn-primary btn-big">
		{% include "11ty-common/icon.html" icon: "sign-in" height: 18 width: 18 fill: "currentColor" %}
		<span>Sign-Up</span>
	</a>
</div>
<!-- <firebase-email-link></firebase-email-link> -->
<firebase-change-password></firebase-change-password>
