<div class="flex row wrap space-evenly tablist" role="tablist">
	<button type="button" class="btn btn-primary tab" aria-selected="true" aria-controls="org-profile-basic" role="tab">Basic Info</button>
	<button type="button" class="btn btn-primary tab" aria-selected="false" aria-controls="org-profile-contact" role="tab">Contact Info</button>
	<button type="button" class="btn btn-primary tab" aria-selected="false" aria-controls="org-profile-address" role="tab">Address</button>
	<button type="button" class="btn btn-primary tab" aria-selected="false" aria-controls="org-profile-hours" role="tab">Business Hours</button>
	<button type="button" class="btn btn-primary tab" aria-selected="false" aria-controls="org-profile-social" role="tab">Social Links</button>
</div>
